.nav-bar{
    background-color: rgb(247, 209, 139);
    color: black;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;

}
.nav-bar a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
.img{
    margin-left: auto;
    height: fit-content;
    width: 80px;
    
}
